{% extends 'index_base.html' %}

{%block title%}
 <title>My Posts</title>
  {%endblock%}
{%block navbar%}
  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
    <div class="container">
      <a class="navbar-brand" href="index.html">Start Bootstrap</a>
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        Menu
        <i class="fas fa-bars"></i>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="/posts">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/create">New Post</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/logout">Logout</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
{%endblock%}


{%block welcome%}
 
 <!-- Page Header -->
  <header class="masthead" style="background-image: url('../static/img/home-bg.jpg')">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="site-heading">
            <h1>My Posts</h1>
            <span class="subheading">This shows a list of all your posts</span>
          </div>
        </div>
      </div>
    </div>
  </header>

{%endblock%}


{% block body %}
  {% for content in contents: %}
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <div class="post-preview">
           <h1 class="post-title">
              {{ content.title}}
            </h1>
            <h4 class="post-subtitle">
              {{content.content}}
            </h4>          
          <p class="post-meta">Posted by {{content.author}}  with ❤️</p>
        </div>
        <a href="{{content.title}}" class="myButton">EDIT</a>
        <a href="{{content.title}}" class="myButtonr">REMOVE</a>
        <hr>
       </div>
    </div>
  </div>
  {% endfor %}

{%endblock%}

  